<footer id="footer">
  <div class="footer-container container">
    <div class="footer-all">
      <div class="footer-content">
        <div class="footer-left">
          <a href="/" class="footer-logo-link">
            <svg class="footer-logo" width="202" height="63">
              <use href="/img/sprite-optimization.svg#icon-logo"></use>
            </svg>
          </a>
          <div class="socials">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="social-link"
              aria-label="Facebook"
            >
              <svg class="social-icon" width="32" height="32">
                <use href="/img/sprite-optimization.svg#Facebook"></use>
              </svg>
            </a>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="social-link"
              aria-label="Instagram"
            >
              <svg class="social-icon" width="32" height="32">
                <use href="/img/sprite-optimization.svg#Instagram"></use>
              </svg>
            </a>
            <a
              href="https://x.com/"
              target="_blank"
              class="social-link"
              aria-label="X"
            >
              <svg class="social-icon" width="32" height="32">
                <use href="/img/sprite-optimization.svg#X"></use>
              </svg>
            </a>
            <a
              href="https://www.youtube.com"
              target="_blank"
              class="social-link"
              aria-label="youtube"
            >
              <svg class="social-icon" width="32" height="32">
                <use href="/img/sprite-optimization.svg#Youtube"></use>
              </svg>
            </a>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              class="social-link"
              aria-label="linkedin"
            >
              <svg class="social-icon" width="32" height="32">
                <use href="/img/sprite-optimization.svg#LinkedIn"></use>
              </svg>
            </a>
          </div>
        </div>
        <nav class="footer-nav">
          <a class="link" href="#about-us">About us</a>
          <a class="link" href="#benefits">Benefits</a>
          <a class="link" href="#gallery">Gallery</a>
          <a class="link" href="#testimonials">Testimonials</a>
          <a class="link" href="#contacts">Contacts</a>
        </nav>
      </div>
      <div class="footer-bottom">
        <p class="copyrite">&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
