<section class="gallery section" id="gallery">
  <div class="container">
    <h2 class="gallety-title">Jewelry Showcase</h2>
    <p class="gallery-text">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/Image1@Desktop.png   1x,
              ../img/gallery/Image1@2xDesktop.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/Image1Tablet.png    1x,
              ../img/gallery/Image1@2xTablet.png 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ../img/gallery/Image1Mob.png    1x,
              ../img/gallery/Image1@2xMob.png 2x
            "
          />
          <img src="../img/gallery/Image1Mob.png" alt="Purple bracelet" />
        </picture>
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/Image2@Desktop.png   1x,
              ../img/gallery/Image2@2xDesktop.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/Image2@2xTablet.png 1x,
              ../img/gallery/Image2@2xTablet.png 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ../img/gallery/Image2Mob.png    1x,
              ../img/gallery/Image2@2xMob.png 2x
            "
          />
          <img src="../img/gallery/Image2Mob.png" alt="Orange pendant" />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/Image3@Desktop.png   1x,
              ../img/gallery/Image3@2xDesktop.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/Image3Tablet.png    1x,
              ../img/gallery/Image3@2xTablet.png 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ../img/gallery/Image3Mob.png    1x,
              ../img/gallery/Image3@2xMob.png 2x
            "
          />
          <img src="../img/gallery/Image3Mob.png" alt="Beaded choker" />
        </picture>
        <picture
          ><source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/Image4@Desktop.png   1x,
              ../img/gallery/Image4@2xDesktop.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/Image4Tablet.png    1x,
              ../img/gallery/Image4@2xTablet.png 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ../img/gallery/Image4Mob.png    1x,
              ../img/gallery/Image4@2xMob.png 2x
            "
          />
          <img src="../img/gallery/Image4Mob.png" alt="Floral earrings" />
        </picture>
      </li>
    </ul>
  </div>
</section>
