<header class="header">
  <div class="header-container container">
    <div class="logo-nav-wrapper">
      <a href="/" class="logo">
        <svg class="header-logo">
          <use href="/img/sprite-optimization.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
    <button type="button" class="header-mobile-menu" aria-label="Mobile menu">
      <svg class="header-mobile-menu-icon">
        <use href="/img/sprite-optimization.svg#menu"></use>
      </svg>
    </button>
    <a href="#contacts" class="button header-order">Order Now</a>
  </div>
</header>
