<header class="header container">
  <a href="#" class="logo">
    <svg class="header-logo">
      <use href="/img/sprite-optimization.svg#icon-logo"></use>
    </svg>
  </a>
  <nav class="header-nav">
    <ul class="nav-list">
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
  <button class="menu-button" aria-label="Open menu">
    <span class="menu-icon"></span>
  </button>

</header>

