<div class="mobile-menu container">
  <div class="mob-header">
    <a href="/" class="logo">
      <svg class="header-logo">
        <use href="/img/sprite-optimization.svg#icon-logo"></use>
      </svg>
    </a>
    <button id="mobile-close-button" type="button" class="mobile-close-button" aria-label="Close mobile menu">
      <svg class="mobile-close-button-icon">
        <use href="/img/sprite-optimization.svg#close"></use>
      </svg>
    </button>
  </div>

  <nav class="mob-nav">
    <ul class="mob-nav-list">
      <li><a class="link" href="#about-us">About Us</a></li>
      <li><a class="link" href="#benefits">Benefits</a></li>
      <li><a class="link" href="#gallery">Gallery</a></li>
      <li><a class="link" href="#testimonials">Testimonials</a></li>
      <li><a class="link" href="#contacts">Contacts</a></li>
    </ul>
  </nav>

  <a href="#contacts" class="btn order-btn">Order Now</a>
</div>
