<section class="section testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Customer testimonials</h2>
    <p class="testimonials-descr">
      Absolutely love my new earrings! They are stunning.
    </p>

    <div class="testimonials-content">
      <ul class="testimonials-content-list">
        <li class="testimonials-content-item">
          <div class="testimonials-images">
            <picture class="testimonials-images-item">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/testimonials/ImageDesktop.png    1x,
                  /img/testimonials/Image@2xDesktop.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/testimonials/ImageTablet.png    1x,
                  /img/testimonials/Image@2xTablet.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/testimonials/ImageMob.png   1x,
                  /img/testimonials/Image@2xMob.png 2x
                "
              />
              <img
                src="/img/testimonials/ImageDesktop.png"
                alt="earrings"
                class="testimonials-images-pic"
              />
            </picture>

            <picture class="testimonials-images-item">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/testimonials/ImageDesktop-1.png    1x,
                  /img/testimonials/Image@2xDesktop-1.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/testimonials/ImageTablet-1.png    1x,
                  /img/testimonials/Image@2xTablet-1.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/testimonials/ImageMob-1.png    1x,
                  /img/testimonials/Image@2xMob-1.png 2x
                "
              />
              <img
                src="/img/testimonials/ImageDesktop-1.png"
                alt="pendant"
                class="testimonials-images-pic"
              />
            </picture>
          </div>
          <div class="testimonials-order">
            <div class="testimonials-order-rating">
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24" class="star-outline">
                <use href="/img/sprite-optimization.svg#star-outline"></use>
              </svg>
            </div>
            <p class="testimonials-order-comment">
              "Each piece tells a story, and I love mine!"
            </p>
            <p class="testimonials-order-name">Thomas Mans</p>
          </div>
        </li>
        <li class="testimonials-content-item">
          <div class="testimonials-order">
            <div class="testimonials-order-rating">
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
              <svg width="24" height="24">
                <use href="/img/sprite-optimization.svg#star-fiiled"></use>
              </svg>
            </div>
            <p class="testimonials-order-comment">
              "The craftsmanship is exquisite, and I feel unique wearing it."
            </p>
            <p class="testimonials-order-name">Jane Edison</p>
          </div>
          <div class="testimonials-images">
            <picture class="testimonials-images-item">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/testimonials/ImageDesktop-2.png    1x,
                  /img/testimonials/Image@2xDesktop-2.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/testimonials/ImageTablet-2.png    1x,
                  /img/testimonials/Image@2xTablet-2.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/testimonials/ImageMob-2.png    1x,
                  /img/testimonials/Image@2xMob-2.png 2x
                "
              />
              <img
                src="/img/testimonials/ImageDesktop-2.png"
                alt="cup"
                class="testimonials-images-pic"
              />
            </picture>

            <picture class="testimonials-images-item">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/testimonials/ImageDesktop-3.png    1x,
                  /img/testimonials/Image@2xDesktop-3.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/testimonials/ImageTablet-3.png    1x,
                  /img/testimonials/Image@2xTablet-3.png 2x
                "
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/testimonials/ImageMob-3.png    1x,
                  /img/testimonials/Image@2xMob-3.png 2x
                "
              />
              <img
                src="/img/testimonials/ImageDesktop-1.png"
                alt="ring"
                class="testimonials-images-pic"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
