.testimonials-title {
  text-align: center;
  margin-bottom: 24px;
}
.testimonials-descr {
  text-align: center;
  margin-bottom: 40px;
  font-size: 16px;
}
.testimonials-content-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-content-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-images {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-order {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f2f2f2;
  padding: 32px;
  width: 100%;
}
.testimonials-order-rating {
  height: 24px;
}
.testimonials-order-name {
  font-size: 16px;
}
.testimonials-order-rating {
  margin-bottom: 24px;
}
.testimonials-order-comment {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .testimonials-content-item {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonials-images {
    flex-direction: row;
  }
  .testimonials-order {
    width: 250px;
  }
  .testimonials-order-comment {
    margin-bottom: 41px;
  }
  .testimonials-order-name {
    font-weight: 600;
  }
  .testimonials-images-pic {
    width: 203px;
    height: 260px;
  }
}
@media screen and (min-width: 1440px) {
  .testimonials-content-list {
    display: flex;
    gap: 32px;
  }
  .testimonials-images {
    gap: 32px;
  }
  .testimonials-images-pic {
    width: 100%;
    height: auto;
  }
  .testimonials-content-item {
    gap: 32px;
  }
  .testimonials-content-item > div {
    width: calc((100% - 32px) / 2);
  }
  .testimonials-images-item {
    width: calc((100% - 32px) / 2);
  }
  .testimonials-order-comment {
    margin-bottom: 95px;
  }
  .testimonials-descr {
    margin-bottom: 80px;
  }
}
